<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select [(ngModel)]="type">
      <mat-option value='0'>Switch</mat-option>
      <mat-option value='1'>Connector</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="type==='0'; else connectorTemplate">
    <form [formGroup]="switchForm">
      <mat-form-field appearance="fill">
        <mat-label>IP</mat-label>
        <input matInput formControlName="ip">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Node Count</mat-label>
        <input matInput formControlName="nodeCount">
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Nodes</mat-label>
        <input matInput formControlName="nodes">
      </mat-form-field> -->
    </form>

  </ng-container>
  <ng-template #connectorTemplate>
    <form [formGroup]="connectorForm">
      <mat-form-field appearance="fill">
        <mat-label>IP</mat-label>
        <input matInput formControlName="ip">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Connection Type</mat-label>
        <mat-select formControlName="connectionType">
          <mat-option value='eth1'>eth1</mat-option>
          <mat-option value='eth2'>eth2</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cast Type</mat-label>
        <mat-select formControlName="castType">
          <mat-option value='out'>out</mat-option>
          <mat-option value=null>null</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Nodes</mat-label>
        <input matInput formControlName="nodes">
      </mat-form-field> -->

    </form>
  </ng-template>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>