<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
    <form [formGroup]="connectorForm">
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="switch">switch</mat-option>
          <mat-option value="router">router</mat-option>
        </mat-select>
        </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>IP</mat-label>
        <input matInput formControlName="ip">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Node Count</mat-label>
        <input matInput formControlName="nodeCount" (input)="onNodeCountChange($event)">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Connection Type</mat-label>
        <mat-select formControlName="connectionType">
          <mat-option value='eth1'>eth1</mat-option>
          <mat-option value='eth2'>eth2</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cast Type</mat-label>
        <mat-select formControlName="castType">
          <mat-option value='out'>out</mat-option>
          <mat-option value=null>null</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ToIp</mat-label>
        <mat-select formControlName="toIp" (selectionChange)="onSelectToIp($event)">
          <mat-option *ngFor="let asset of data.assets" [value]="asset.ip">{{asset.ip}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="connectorForm.value.toIp">
        <mat-label>fromHub</mat-label>
        <mat-select formControlName="fromHub">
          <mat-option *ngFor="let asset of nodeCount" [value]="asset">{{asset}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="connectorForm.value.toIp">
        <mat-label>toHub</mat-label>
        <mat-select formControlName="toHub">
          <mat-option *ngFor="let asset of hubCount" [value]="asset">{{asset}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
</div>
